version: '3.8'
services:
  discovery:
    build: ./discovery-service
    ports:
      - "8761:8761"

  gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery

  produtos:
    build: ./microservico-usuarios
    environment:
      - EUREKA_URI=http://discovery:8761/eureka
    depends_on:
      - discovery

  pedidos:
    build: ./microservico-pedidos
    depends_on:
      - discovery