server:
  port: 8081

spring:
  application:
    name: microservice-produtos
  datasource:
    url: jdbc:postgresql://localhost:5432/produtodb
    username: dbjaum
    password: "1101"
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/